# Supabase Configuration
SUPABASE_URL=https://ktihcjfxxxazohimtiav.supabase.co
SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imt0aWhjamZ4eHhhem9oaW10aWF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODUyNjA1ODYsImV4cCI6MjEwMDgzNjU4Nn0.T9C9Io9dBIiEPlIeLWLEHguAG--PO1US8qKDD0Dhzw4

# Raspberry Pi Station Metadata
STATION_ID=node-shola-01
STATION_NAME=Shola Canopy Recorder Node 01

# Local BirdNET-Pi Paths (Defaults for standard BirdNET-Pi installation)
SQLITE_DB=/home/livedetector/BirdNET-Pi/scripts/birds.db
AUDIO_ROOT=/home/livedetector/BirdSongs/Extracted/By_Date

# Polling Interval (in seconds)
SYNC_INTERVAL=10
STATE_FILE=state.json
